* {box-sizing: border-box;}


html, body
{ 

background: #00FFFF;
font-family:Helvetica;
margin: 10;
padding: 10;

}

@media (min-width: 700px)
{
body {padding: 2rem; }
form {max-width: 600px; }
}
